<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Tech Blog</title>
</head>

<body>
    <nav>
        <div class="nav_btns">
            <div class="btn">Home</div>
            <div class="btn">Dashboard</div>
            {{#if logged_in}}
            <div class="btn logout_btn">Logout</div>
            {{else}}
            <div class="btn login_btn">Login</div>
            {{/if}}
        </div>
        <div class="nav_title">
            {{#if onDashbaord}}
            <div>
                Tech Blog
            </div>
            {{#else}}
            <div>
                Your Dashboard
            </div>
            {{/if}}
        </div>
    </nav>
    <main>
        {{{body}}}
    </main>
</body>
</html>