<div>
    <div class="login">
        <nav>Login</nav>
        <form>
            <label for="">Username</label>
            <input type="text">
            <label for="">Password</label>
            <input type="text">
        </form>
    <div>Login</div>
    <a href="">Sign up instead</a>
</div>
