<div class="signup">
        <nav>Sign Up</nav>
        <form>
            <label for="">Username</label>
            <input type="text">
            <label for="">Password</label>
            <input type="text">
        </form>
        <div>Sign up!</div>
        <a href="">login instead</a>
    </div>
</div>